<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit pill</title>

    <link rel="stylesheet" href="../static/css/edit_pill.css">
</head>
<body>
    <div id="pill-data" data-slot-id="{{ slot_id }}"></div>

    <div class="edit_form">
        <h2>PillPal Slot {{ slot_id + 1 }}</h2>
        <p>🛈 It is your responsibility to ensure that the information entered here matches what is inside your PillPal.</p>
        <form action="/save_pill/{{ slot_id }}" method="POST">
    
            <label for="name">Pill Name:</label>
            <input type="text" id="name" name="name" value="" required>
    
            <label for="dosePerPill">Dose per Pill (mg):</label>
            <input type="number" id="dosePerPill" name="dosePerPill" value="" required>
    
            <label for="pillsPerDose">Pills per Dose:</label>
            <input type="number" id="pillsPerDose" name="pillsPerDose" value="" required>
    
            <label for="dosesPerDay">Doses per Day:</label>
            <input type="number" id="dosesPerDay" name="dosesPerDay" value="" required>
    
            <label for="minHoursBetweenDoses">Minimum Hours Between Doses:</label>
            <input type="number" id="minHoursBetweenDoses" name="minHoursBetweenDoses" value="" required>
    
            <button type="submit">Save Pill Configuration</button>
        </form>
    </div>




    <script src="../static/js/edit_pill.js"></script>
</body>
</html>
