<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pill Pal - Login</title>

    <link rel="stylesheet" href="../static/css/style_login.css">
</head>
<body>
    <h1>Welcome to the Pill Pal</h1>
    <h2>Please log in:</h2>

    <br><br>

    <div id="input-bar">
        <p id="pincode"></p>
        <p class="underscores">_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_</p>
    </div>


    <br><br><br><br><br><br><br><br><br>

    <div id="pinpad">
        <button onclick="press('1')">1</button>
        <button onclick="press('2')">2</button>
        <button onclick="press('3')">3</button>
        <button onclick="press('4')">4</button>
        <button onclick="press('5')">5</button>
        <button onclick="press('6')">6</button>
        <button onclick="press('7')">7</button>
        <button onclick="press('8')">8</button>
        <button onclick="press('9')">9</button>
        <button class="text-button" onclick="press('clear')">CLEAR</button>
        <button onclick="press('0')">0</button>
        <button class="text-button" onclick="press('enter')">ENTER</button>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>